.parent {
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
}

.mediabuttons {
  display: flex;
  justify-content: space-around;
}
