.container {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.cover {
  height: 100px;
  padding-right: 20px;
}

.nowplaying {
  border-color: #606eba;
  border-radius: 12px;
  border-style: solid;
  display: flex;
  padding: 10px;
  width: 300px;
}

.play {
  border: none;
  color: #37cc57;
}

.pause {
  border: none;
  color: #4daff9;
}

.stop {
  border: none;
  color: #ff0f0f;
}

.progress {
  display: flex;
}
